<div class="container home">
  <header>
    <nav>
      <ul>
        <li>Politics</li>
        <li>Economy</li>
        <li>Environment</li>
        <li>Science</li>
        <li>Culture</li>
        <li>Society</li>
        <li>Entertainment</li>
      </ul>
    </nav>
  </header>

	<main>
		<section class="politics">
			<h2>Topic: Politics</h2>
			<span>Story: <%= @politics_story.title %></span>
			<h3><%= @politics_article_original.title %></h3>
			<p><%= @politics_article_original.article_description %></p>
		</section>

		<section class="economy">
		
		</section>

		<section class="environment">
		
		</section>
	</main>

</div>


<%# <%=topic.article_of_most_votes[:title]%> 
<%# <%=stories.article_of_most_votes%>
<%# <%=topic.article_related_to_story_with_most_votes[:title]%>
<%# <%=topic.article_related_to_story_with_most_votes[:article_description]%>