<div class="container home">
  <header>
    <nav>
      <ul>
        <li>Politics</li>
        <li>Economy</li>
        <li>Environment</li>
        <li>Science</li>
        <li>Culture</li>
        <li>Society</li>
        <li>Entertainment</li>
      </ul>
    </nav>
  </header>

	<main>

		<% @topics.each do |topic| %>
			<section class="<%= topic.name %>">
			<h2 class="topic"><%= topic.name %></h2>
			<% if topic.stories_topics != [] %>
				<span>Story: <%= topic.story_with_most_votes.title %></span>
				<h3><%= topic.story_most_votes_article.title %></h3>
				<p><%= topic.story_most_votes_article.article_description %></p>
			<% else %>
				<span>This topic does not contain any stories.</span>
			<% end %>
			</section>
		<% end %>

	</main>

</div>