<div class="home-container">
    <nav>
        <ul>
            <li>Politics</li>
            <li>Economy</li>
        </ul>
        <ul>
            <li>Environment</li>
            <li>Science</li>
        </ul>
        <ul>
            <li>Culture</li>
            <li>Sport</li>
        </ul>
        <ul>
            <li>Society</li>
            <li>Entertainment</li>
        </ul>
    </nav>


    
    <%# puts topic.story_with_most_votes[:title] %>

    <main>
    <%@topics.each do |topic| %>
    <%topic.story_with_most_votes%>
    <div class="ui-card">
        <div class="topic"><%=topic.name%></div>
        <% if topic.story_with_most_votes%>
            <article class="story">
            <h1 class="story-title">
            <%= topic.story_with_most_votes[:title]%></h1>
            <h1 class="article-title"><%= topic.story_with_most_votes.articles[0][:title] %> </h1>
            <img src="<%=topic.story_with_most_votes.articles[0][:image_url] %>" alt="" class="story-thumb">
            <p class="article-content"><%=topic.story_with_most_votes.articles[0][:article_description]%></p>
            </article>
        <% else %>
            <div>No Stories</div>
        <% end %>
    </div>
    <% end %>

    </main>
</div>


<%# <%=topic.article_of_most_votes[:title]%> 
<%# <%=stories.article_of_most_votes%>
<%# <%=topic.article_related_to_story_with_most_votes[:title]%>
<%# <%=topic.article_related_to_story_with_most_votes[:article_description]%>