<div class="container home">
  <header>
    <nav class="topics">
      <ul>
        <% @topics.each do |topic| %>
					<li data-topic-id="<%= topic.id %>"><%= topic.name %></li>
				<% end %>
      </ul>
    </nav>
  </header>

	<main>
		<% @topics.each do |topic| %>
			<section class="<%= topic.name %> top-story">
			<h2 class="topic"><%= topic.name %></h2>
			<% if topic.stories_topics != [] %>
				<span>Story: <%= topic.story_with_most_votes.title %></span>
				<h3><%= topic.story_most_votes_article.title %></h3>
				<p><%= topic.story_most_votes_article.article_description %></p>
			<% else %>
				<span>This topic does not contain any stories.</span>
			<% end %>
			</section>
		<% end %>

		<section class="topic-stories hide">
		</section>
	</main>
</div>

<script id="topic-stories-template" type="text/x-handlebars-template">
	<h2 class="topic">{{topicName}}</h2>
	{{#if topicHasStories}}
		<section>
			{{#each topicStories}}
				<h2>{{title}}</h2>
				<h3>{{article.title}}</h3>
				<p>{{article.article_description}}</p>
				<img src="{{article.image_url}}" alt="">
			{{/each}}
		</section>
	{{/if}}
</script>

<script>
	var topicNavLinks = document.querySelectorAll('.topics li')
	var topStories = document.querySelectorAll('.top-story')
	var topicStoriesSection = document.querySelector('.topic-stories')

	function handleShowTopicStories (e) {
		$.ajax({
			url: '/api',
			method: 'GET',
			data: {
				topic_id: event.target.dataset.topicId
			}
		}).done(res => {
			res.topic_stories.map((story, index) => {
				story.article = res.topic_stories_articles[index]
			})
			renderTopicStories(res)
		})
	}

	function renderTopicStories(res) {
		var source = $('#topic-stories-template').html()
		var template = Handlebars.compile(source)
		var context = {
			topicName: res.topic.name,
			topicHasStories: !(res.topicStories === []),
			topicStories: res.topic_stories
		}
		var html = template(context)
		topicStoriesSection.innerHTML = html
		topicStoriesSection.classList.remove('hide')
		topStories.forEach(topic => topic.classList.add('hide'))
	}

	topicNavLinks.forEach(link => link.addEventListener('click', handleShowTopicStories))
</script>