<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bubble News App</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header>
      <% if logged_in? %>
      <div class="profile">
        <img class="avatar" src="<%= current_user.avatar.url %>" alt="">
        <span class="display-name"><%= current_user.display_name %></span>
      </div>
      <% end %>

      <h1>
        <a href="/">Bubbles</a>
      </h1>

      <nav class="main">
        <% if logged_in? %>
        <ul>
          <li><a href="/new">Add Story</a></li>
          <li>
            <a class="notification" href="/users/<%= current_user.id %>">
              <div class="notification-count"><%= Notification.where(receiver_id: current_user.id).where(seen: false).count %></div>
              <span class="invitation">Invitations</span>
            </a>
          </li>
          <li>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="logout">Log Out</button>
            </form>
          </li>
        </ul>
        <% else %>
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
      <% end %>
    </header>
          
    <%= yield %>

    <footer></footer>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
</body>
</html>