<div class="container-show">

  <header>
    <h1><%= @story.title %></h1>
    <span>
    Posted by <%= @story_creator %> | DATE FEATURE PENDING |
    <% if @article_original != @article_perspective %>
    Perspective by <%= @perspective_user.display_name %>
    <% else %>
    <em>Needs perspective</em>
    <% end %>
    </span>
  </header>

  <main>
  
    <div class="story-articles">
      <div class="pick-side">This</div>
      <div class="pick-side">That</div>
        <article class="original">
          <h2 class="title"><%= @article_original.title %></h2>
          <img src="<%= @article_original.image_url %>" alt="" class="story-thumb">
          <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>

        <article class="perspective hide">
        <% if @article_original != @article_perspective %>
          <h2 class="title">@article_perspective.title</h2>
          <img src="" alt="" class="story-thumb">
          <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
          <button class="article-btn">Upvote</button>
          <button class="article-btn">View Perspective</button>
        <% else %>
          <h2 class="title">This article needs your perspective.</h2>
          <button class="article-btn">Add Article</button>
        <% end %>
        </article>
    </div>

    <h2>Discussions</h2>
    <div class="comments">
    <% @discussions.each  do |discussion| %>
      <div class="comment">
        <img src="<%= User.find(discussion.user_id).avatar %>" alt="" class="user-avatar">
        <p><%= discussion.content %></p>
        <span class="comment-data"><%= User.find(discussion.user_id).display_name %> | TIME SINCE COMMENT PENDING</span>
      </div>
    <% end %>
      <% if logged_in? %>
      <form class="add-comment" action="/discussions" method="post">
        <input type="hidden" name="story_id" value="<%= @story.id %>">
        <textarea name="content"></textarea>
        <button>Submit</button>
      </form>
      <% end %>
    </div> 

  </main>

</div>

<script src='/javascripts/show.js'></script>

<style>

.hide {
  display: none;
}
</style>