<div class="container show">

  <header>
    <h1><%= @story.title %></h1>
    <p class="story-meta">
    Posted by <%= @story_creator %> | <%= @story.time_created %> |
    <% if @article_original != @article_perspective %>
    Perspective by <%= @perspective_user.display_name %>
    <% else %>
    <em>Needs perspective</em>
    <% end %>
    </p>
  </header>

  <main>
  <div class="sides">
    <div class="container medium pick-side">This Side</div>
    <div class="container dark pick-side">That Side </div>
  </div>
    <div class="container story-articles medium">
        <article class="story-article original">
          <h2 class="title"><%= @article_original_title %></h2>
          <img src="<%= @article_original.image_url %>" alt="" class="story-thumb">
          <div class="article-content">
            <em><%= @article_original_author %></em>
            <%= @article_original_content %>
          </div>
          <span class="vote-count"><%= @votes_original %></span>
          <span class="vote-btn" data-article-id="<%= @article_original.id %>" data-story-id="<%= @story.id %>">👍</span>
        </article>

        <article class="story-article perspective hide">
        <% if @article_original != @article_perspective %>
          <h2 class="title"><%= @article_perspective_title %></h2>
          <img src="<%= @article_perspective.image_url %>" alt="" class="story-thumb">
          <div class="article-content">
            <em><%= @article_perspective_author %></em>
            <%= @article_perspective_content %>
          </div>
          <span class="vote-count"><%= @votes_perspective %></span>
          <span class="vote-btn" data-article-id="<%= @article_perspective.id %>" data-story-id="<%= @story.id %>">👍</span>
        <% else %>
          <h2 class="title">This article needs your perspective.</h2>
          <form action="/stories/<%= @story.id %>/edit" method="get">
            <button class="article-btn">Add Article</button>
          </form>
        <% end %>
        </article>
    </div>

    <h2>Comments</h2>
    <div class="container bright comments">
    <% @comments.each  do |comment| %>
      <div class="comment">
        <div class="profile">
          <img class="avatar" src="<%= User.find(comment.user_id).avatar %>" alt="">
          <span class="display-name"><%= User.find(comment.user_id).display_name %></span>
        </div>
        <p class="content"><%= comment.content %></p>
      </div>
    <% end %>
      <% if logged_in? %>
      <form class="add-comment" action="/comments" method="post">
        <input type="hidden" name="story_id" value="<%= @story.id %>">
        <h3>Add a Comment</h3>
        <textarea name="content"></textarea>
        <button>Submit</button>
      </form>
      <% end %>
    </div> 

  </main>

</div>

<style>
.show header {
  display: block;
}

.show main {
  display: block;
}

.story-meta {
  text-align: center;
  font-size: 0.75em;
  margin: 0 auto;
}

.article-content {
  border-bottom: 1px solid grey;
  margin-bottom: 0.25em;
}

.hide {
  display: none;
}

.sides {
  display: flex;
  justify-content: center;
}

.pick-side {
  margin-bottom: 0;
}

.comment {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}

.comment .profile {
  width: 15%;
  font-size: 0.75em;
}

.comment p {
  width: 85%;
}

</style>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  console.log ('show')

  var viewOriginal = document.querySelectorAll('.pick-side')[0]
  var viewPerspective = document.querySelectorAll('.pick-side')[1]
  var articleOriginal = document.querySelector('.original')
  var articlePerspective = document.querySelector('.perspective')

  var handleViewOriginal = event => {
    viewOriginal.classList.remove('dark')
    viewOriginal.classList.add('medium')
    viewPerspective.classList.add('dark')
    articleOriginal.classList.remove('hide')
    articlePerspective.classList.add('hide')
  }

  var handleViewPerspective = event => {
    viewPerspective.classList.remove('dark')
    viewPerspective.classList.add('medium')
    viewOriginal.classList.add('dark')
    articleOriginal.classList.add('hide')
    articlePerspective.classList.remove('hide')
  }

  viewOriginal.addEventListener('click', handleViewOriginal)
  viewPerspective.addEventListener('click', handleViewPerspective)

  var storyArticles = document.querySelector('.story-articles')

  // event bubbling and event delegation
  var handleUpvote = event => {
    console.log('clicked within article')
    if (event.target.classList.contains('vote-btn')) {
      console.log('clicked on vote btn')
      $.ajax({
        url: '/api/votes',
        method: 'post',
        data: {
          article_id: event.target.dataset.articleId,
          story_id: event.target.dataset.storyId
        }
      }).done(res => {
        var storyArticle = event.target.closest('.story-article')
        var voteCount = storyArticle.querySelector('.vote-count')
        voteCount.textContent = res.vote_count
      })
    }
  }

  <% if logged_in? %>
    storyArticles.addEventListener('click', handleUpvote)
  <% end %>

</script>