<div class="container invitations">

  <header>
    <h1>Invitations</h1>
  </header>

  <%if @notifications.count == 0%>
    <p>There are no new invitations</p>
  <%else%>
    <main class="all-invitations">
      <% @notifications.each do |notice| %>
        <div class="invite-card bright">
          <div class="display-flex image-title">
            <div class="img-container">
              <img src="<%= notice.sender.avatar %>" alt="" class="avatar">
            </div>
            <div class="invitation-story">
              <h2 class="story-title"><%= notice.sender_story.title%></h2>
              <h3 class="article-title"><%= notice.article_title%></h3>
            </div>
          </div>
          <div class="display-flex actions">
            <div class="display-flex">
              <p class="host-name"><%= notice.sender.display_name %></p><p class="invite-time"><%= time_ago_in_words(notice.time_created)%> ago</p>
            </div>
            <div class="display-flex">
              <form action="/stories/<%= notice.story_id%>/edit" method="get">
                <input type="hidden" name="notice" value="<%=notice.id%>">
                <button>Accept</button>
              </form>
              <form action="/api/notifications/<%= notice.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="users-ignore-button">Ignore</button>
              </form>
            </div>
            
          </div>
        </div>
      <% end %>
    </main>
  <%end%>
</div>

<style>
  .invite-card {
    padding-left: 10px;
  }

  .display-flex {
    display: flex;
    padding-bottom: 10px;
  }

  .image-title {
    border-bottom: 1px solid grey;
    padding-top: 10px;
  }

  .img-container {
    width: 20%;
    padding-top: 10px;
    padding-right: 10px;
  }

  .invitation-story {
    width: 80%;
  }

  .invite-time {
    border-left: 1px solid grey;
    padding-left: 5px;
  }

  .host-name {
    padding-right: 5px;
  }

  .actions {
    padding-top: 10px;
    justify-content: space-between;
  }

</style>

<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>

<script>
var ignoreButtons = document.querySelectorAll('.users-ignore-button')
var notificationCounter = document.querySelector('.notification-count')

var handleIgnoreClick = function(event) {
  event.preventDefault();
  var url = event.target.closest('form').action
  var toDelete = event.target.closest('.invite-card')
  $.ajax({
    url: url,
    method: "delete"
  }).done(response => {
    toDelete.remove()
    notificationCounter.textContent = Number(notificationCounter.textContent) - 1
  })

}

ignoreButtons.forEach(i => i.addEventListener('click', handleIgnoreClick))
</script>


