<header>
  <h1>Invitations</h1>
</header>

<main class="all-invitations">
<% @notifications.each do |notice| %>
  <div class="invite-card">
    <img src="<%= notice.sender.avatar %>" alt="" class="host-avatar">
    <h2 class="story-title"><%= notice.sender_story.title%></h2>
    <h2 class="article-title"><%= notice.article_title%></h2>
    <span class="host-name"><%= notice.sender.display_name %></span><span class="invite-time"><%= time_ago_in_words(notice.time_created)%> ago</span>
    <form action="/stories/<%= notice.story_id%>/edit" method="get">
      <button>Accept</button>
    </form>
    <form action="/api/notifications/<%= notice.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="users-ignore-button">Ignore</button>
    </form>
  </div>
  <% end %>
</main>

<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>

<script>
var ignoreButtons = document.querySelectorAll('.users-ignore-button')

var handleIgnoreClick = function(event) {
  event.preventDefault();
  var url = event.target.closest('form').action
  var toDelete = event.target.closest('.invite-card')
  $.ajax({
    url: url,
    method: "delete"
  }).done(response => {
    toDelete.remove()
  })

}

ignoreButtons.forEach(i => i.addEventListener('click', handleIgnoreClick))
</script>
